! Configuration for xterm
*xterm*.faceName: Monospace
*xterm*.faceNameDoublesize: WenQuanYi Zen Hei Mono
*xterm*.faceSize: 8

! Make Alt work normally
*xterm*.metaSendsEscape: true

*xterm*.ScrollBar: off

! Sensible copy/paste
*xterm*.Translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! Dracula Xresources palette
! https://github.com/dracula/xresources
*xterm*.foreground: #F8F8F2
*xterm*.background: #282A36
*xterm*.color0:     #282A36
*xterm*.color8:     #4D4D4D
*xterm*.color1:     #FF5555
*xterm*.color9:     #FF6E67
*xterm*.color2:     #50FA7B
*xterm*.color10:    #5AF78E
*xterm*.color3:     #F1FA8C
*xterm*.color11:    #F4F99D
*xterm*.color4:     #BD93F9
*xterm*.color12:    #CAA9FA
*xterm*.color5:     #FF79C6
*xterm*.color13:    #FF92D0
*xterm*.color6:     #8BE9FD
*xterm*.color14:    #9AEDFE
*xterm*.color7:     #BFBFBF
*xterm*.color15:    #E6E6E6

*xterm*.borderColor: #282a36
*xterm*.borderWidth: 4